body{
    background-color: gray;
}
i{
    color: rgb(243, 243, 0);
    text-shadow: 10px -10px 10px #000 ;
    margin: 30px;
}
p{
    margin: 20px;
}
img{
    margin: 30px;
    box-shadow: 10px 10px 10px ;
    border: 2px solid gray;
    border-radius: 10px 10px 10px ;
}
em{
    color: rgb(10, 10, 39);
}